/vendor/
composer.lock
composer.phar
.phpunit.result.cache
.php_cs.cache
.DS_Store
Thumbs.db
.idea/
.phpstorm.meta.php
.buildpath
.project
.settings/
/nbproject/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

